Package: serene-startdash
Verson: 1.6
Maintainer: Yamada Hayao <shun819.mail@gmail.com>
Section: utils
Priority: optional
Architecture: all
Depends: bash, zenity, jq, pacapt
Origin: SereneLinux
Homepage: https://github.com/Hayao0819/EG-Installer

Description: パッケージの追加を簡単に行える小さなGUIツール
 パッケージの追加や削除をGUIから簡単に行うことができるツールです。EG-InstallerをベースにSereneTeamが独自で改良を加えています。
 /etc/serene-startdash/softwaresにスクリプトを置くことで簡単に項目の追加や削除を行うことができます。